# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy container app to Azure Web App - eventify-backend

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read #This is required for actions/checkout

    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to container registry
        uses: docker/login-action@v2
        with:
          registry: eventifyacr.azurecr.io/
          username: ${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_874DB6266E5543FBBF8A446B9FC77FB6 }}
          password: ${{ secrets.AZUREAPPSERVICE_CONTAINERPASSWORD_582B64ECBBEA4A88B8B075519E7DC3D2 }}

      - name: Build and push container image to registry
        uses: docker/build-push-action@v3
        with:
          context: .
          push: true
          tags: eventifyacr.azurecr.io/${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_874DB6266E5543FBBF8A446B9FC77FB6 }}/eventify-backend:${{ github.sha }}
          file: ./Dockerfile

  deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write #This is required for requesting the JWT
      contents: read #This is required for actions/checkout

    needs: build
    
    steps:
      
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_8044255631A64F9E8205C9EE2B7093F2 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_B050F25D8F4A478CBBA9FB5707042B61 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_2E4A782525D94907AD00582DD291700F }}

      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v2
        with:
          app-name: 'eventify-backend'
          slot-name: 'Production'
          images: 'eventifyacr.azurecr.io/${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_874DB6266E5543FBBF8A446B9FC77FB6 }}/eventify-backend:${{ github.sha }}'
          